spring:
  application:
    name: carrefourShop

  datasource:
    url: jdbc:postgresql://localhost:5432/carrefour
    username: carrefour
    password: carrefour
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: mySecretKeyForJWTTokenGenerationAndValidationMinimum32CharactersLong
  expiration: 86400000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080
